@charset "UTF-8";

body{background-color: rgb(80, 141, 194);

}
h1{
    color: rgb(34, 83, 127);
}
h1#principal{
text-align: center;
}
h2{
 color: rgb(5, 47, 84);
}
.basico{color: bisque;

}
.intermediario{
color: blue;

}
.avancado{
color: brown;
}
.destaque{
    background-color: blue;
}








